body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    background: white;
    width: 300px;
    margin: 80px auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

input {
    width: 80%;
    padding: 8px;
}

button {
    padding: 8px 12px;
    margin-top: 10px;
}

li {
    margin-top: 10px;
    cursor: pointer;
}
